body {
  background-color: aliceblue;
  font-family: 'Roboto';
  margin-bottom: 100px;
}
.App {
 text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 8vmin;
  pointer-events: none;
  margin: 5px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img {
  width: 370px;
  margin: 20px 0 0 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #282c34;
  color: white;
  font-size: calc(8px + 1vmin);
  font-family: cursive;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .img {
    width: 80%;
  }
}