* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  margin-bottom: 80px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  text-align: center;
}

.firstPage {
  font-size: calc(10px + 1.5vmin);
  padding-bottom: 1rem;
  text-align: center;
  margin: 50px 0;
  line-height: 50px;
}

.city-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.city-list li {
  list-style: none;
  border: 2px solid #282c34;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: calc(5px + 1.5vmin);
  width: 20rem;
}

.city-list h3 {
  margin-bottom: 1.5rem;
}

.city-list p {
  margin: 10px 0;
}

.city-list .desc {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 0.2rem;
}

.searchBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.alert {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: red;
}

.search {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 10px;
  width: 12em;
  outline: none;
}

.searchBtn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #4b5363;
  cursor: pointer;
  outline: none;
  color: #fff;
  transition: all 0.2s;
  padding:0.6em 1.8em;
}

footer {
  background-color: #282c34;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .city-list li {
    font-size: calc(10px + 1vmin);
    padding: 5px 10px;
    margin: 10px 0;
  }

  .city-list .desc {
    margin-bottom: 1rem;
    font-size: smaller;
  }
}

@media screen and (max-width: 480px) {
  .search input {
    width: 100%;
  }

  .search {
    margin-right: 0;
    font-size: smaller;
  }

  .searchBtn {
    margin:0.4em auto;
    display: block;
    font-size: smaller;
  }

  .city-list li {
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
  }

  .firstPage {
    margin: 30px 20px;
    line-height: 30px;
  }

}
