* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 80px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  text-align: center;
  font-family: cursive;
}

.firstPage {
  font-size: calc(10px + 1.5vmin);
  padding-bottom: 1rem;
  text-align: center;
  margin: 50px 0;
  line-height: 50px;
}

.city-list {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  border: 2px solid #282c34;
  position: relative;
  width: 380px;
}

.city-list li {
  list-style: none;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: calc(5px + 1.5vmin);
  width: 20rem;
}

.city-list h3 {
  margin-bottom: 1.5rem;
}

.city-list p {
  margin: 10px 0;
}

.city-list .desc {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 0.2rem;
}

.deleteBtn {
  cursor: pointer;
  background-color: #f52d17;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 0.35rem 0.7rem;
  position: absolute;
  top: 90%;
  left: 98%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.city-list:hover  .deleteBtn {
  opacity: 1;
}

.searchBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.alert {
  margin-top: 1.5rem;
  font-size: calc(10px + 1.5vmin);
  color: red;
}

.search {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 10px;
  width: 12em;
  outline: none;
}

.searchBtn,
.forecastBtn,
.backBtn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #4b5363;
  cursor: pointer;
  outline: none;
  color: #fff;
  transition: all 0.2s;
  padding:0.6em 1.8em;
  box-shadow:inset 0 -0.5em 1em -0.35em rgba(0,0,0,0.5), inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15), inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.forecastBtn {
  padding:0.5em 1em;
  position: absolute;
  top: 3%;
  left: 62%;
  transition: opacity 0.3s ease;
  font-size: 1rem;
  background-color: #4bb8eb;
  box-shadow: 0 3px 20px rgba(46, 110, 229, 0.4);
  color: #071736;
}

.searchBtn:hover{
  background-color: #444547;
  box-shadow:inset 0 -0.5em 1em -0.35em rgba(0,0,0,0.5), inset 0 0.6em 2em -0.3em rgba(148, 175, 235, 0.15), inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.forecastBtn:hover {
  background-color: #062242;
  color: #fff;
}

.backBtn {
  padding: 0.5em 1em;
  margin: 20px 0;
}

.backBtn:hover {
  transform: scale(1.03);
}

.forecastPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forecastPage h1 {
  font-size: calc(10px + 2vmin);
  margin-bottom: 1rem;
  background-color: #28b9fc;
  color: #282c34;
  padding: 15px 30px;
  border-radius: 10px;
}

.tooltip {
  border-radius: 0.25rem;
  background-color: #282c34;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 15px 10px rgba(49, 46, 46, 0.2);
  text-align: center;
}

footer {
  background-color: #282c34;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: calc(8px + 1vmin);
  text-align: center;
  font-family: cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-bottom: 0;
  }

  .city-list {
    width: 360px;
  }

  .city-list li {
    font-size: calc(10px + 1vmin);
    padding: 5px 10px;
    margin: 10px 0;
  }

  .city-list .desc {
    margin-bottom: 1rem;
    font-size: smaller;
  }

  .forecastBtn {
    left: 65%;
    font-size: calc(8px + 1vmin);
  }
}

@media screen and (max-width: 480px) {
  .search input {
    width: 100%;
  }

  .search {
    margin-right: 0;
    font-size: smaller;
  }

  .searchBtn {
    margin:0.4em auto;
    display: block;
    font-size: smaller;
  }

  .city-list {
    width: 250px;
  }

  .city-list li {
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
  }

  .firstPage {
    margin: 30px 20px;
    line-height: 30px;
  }

  .city-list h3 {
    margin-bottom: .8rem;
  }

  .city-list p {
    margin: 0;
  }

  .city-list li {
    margin: 0;
  }

  .forecastBtn {
    left: 58%;
    font-size: calc(7px + 1vmin);
  }

  .deleteBtn {
    top: 89%;
    left: 98%;
    font-size: calc(10px + 1vmin);
    padding: 0.1rem 0.5rem;
  }
}